<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <style>
        .name-display {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'change_password' %}">Change Password</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="logout">Logout</a>
        {% endif %}
    </div>
    <div class="container">
        <h2>Dashboard</h2>
        <p>Welcome to your dashboard, {{ user.email }}!</p>

        <!-- Name input form -->
        <form id="name-form" method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            <label for="new_customer_name">Enter Customer name:</label>
            <textarea id="new_customer_name" name="new_customer_name" rows="1" cols="50"></textarea>
            <button type="submit">Submit</button>
        </form>
        {% for message in messages %}
            <p class="error">{{ message }}</p>
        {% endfor %}
        <!-- Display area for the name -->
        <div id="name-display" class="name-display">
            {% if new_customer_name %}
                <!-- Vulnerable to XSS -->
                Customer name: {{ new_customer_name }}
            {% endif %}
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2024 Communication_LTD. All rights reserved.</p>
    </div>
</body>
</html>
